<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.drugst.one/latest/drugstone.js"></script>
    <link rel="stylesheet" href="https://cdn.drugst.one/latest/styles.css">
  </head>
  <style>
    .container {
      max-width: 1000px;
      margin: 0 auto;
    }
    .drugstone-container {
      max-width: 1000px;
      margin: 0 auto;
    }
  </style>
  <body>
    <div class="container">
      <h1>My new app</h1>

      <div class="drugstone-container">
        <drugst-one id='drugstone-component-id'></drugst-one>
      </div>

    </div>

    <script>
    </script>
  </body>
</html>
